* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 1em;  
  margin-bottom: 2em;
}

.glyphicon-menu-left { 
  font-size: 1em;
  margin-right: 1.5em;
}

hr {
color: #887788;
height: 10px;
}

.log-in-title {
  background-color: #df189c;
  color: #fff;
  padding: 5em; 
}

/*Estilo de los botones*/

.btn-enabled {

  padding: 1em;
  background-color: #df189c;
  border: none;
  color: #fff;
}

.btn-back {
  border: 1px solid #df189c;
  padding: 1em;
  color: #333;
}

/* Estilo modal*/

.modal-content {
  background-color: #fff;
  font-size: 2em;
  text-align: center;
  color: #df189c;
}

.modal-body {
  line-height: 30vh;
  height: 30vh;
}