* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    margin-top: 1em;  
    margin-bottom: 2em;
}

.glyphicon-menu-left { 
    font-size: 1em;
    margin-right: 1.5em;
}

hr {
  color: #887788;
}

select option {
    font-size: 12px;
    height: 0.3em;
}

.send {
    margin-top: 2em;
    color: #df189c;
}

.next-enabled {
    margin-top: 5em;
    padding: 1em 5em;
    background-color: #df189c;
    border: none;
    color: #fff;
}

.next-disabled {
    border: none;
    padding: 1em 5em;
    color: #000;
    background-color: #e471bd;
}

/* Estilo del botón del modal */

.btn-send {
    background-color: #df189c;
    border: none;
    color: #fff;
}

/* Estilo del botón para regresar */
.btn-log {
    border: 1px solid #df189c;
    text-transform: uppercase;
    margin-top: 2em;
    padding: 0.8em 2em;
}

@media (min-width: 970px) {
    .form-header {
        background-color: #df189c;
        color: #fff;
        padding: 2.5em;
    }

    .display-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    select {
        width: 100% !important;
    }

     .btn-log {
        margin-top: 1em;
        padding: 0.8em 2em; 
     }  
}
