* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    margin-top: 1em;  
}

.glyphicon-menu-left { 
    font-size: 1em;
    margin-right: 1.5em;
}

hr {
  color: #887788;
}

select option {
    font-size: 12px;
    height: 0.3em;
}

.send {
    margin-top: 2em;
    color: #df189c;
}

.next-enabled {
    margin-top: 8em;
    padding: 1em 5em;
    background-color: #df189c;
    border: none;
    color: #fff;
}

.next-disabled {
    margin-top: 8em;
    padding: 1em 5em;
    border: none;
    color: #000;
    background-color: #e471bd;
}

/* Estilo del botón del modal */

.btn-send {
    background-color: #df189c;
    border: none;
    color: #fff;
}