* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-style {
    background-color: #df189c;
    border: none;
    color: #fff;
    
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    margin-top: 1em;
    margin-bottom: 1.5em;  
}

.re-send {
    margin-top: 1.5em;
    padding: 1em 2em;   
}

.code-text {
    margin-top: 1.5em;
}

.next {
    margin-top: 2em;
    padding: 1em 2em; 
}

/* Estilo del botón regresar */
.btn-reg {
    border: 1px solid #df189c;
    text-transform: uppercase;
    margin-top: 2em;
    padding: 0.8em 2em;
}

@media (min-width: 970px) {
    .form-header {
        background-color: #df189c;
        color: #fff;
        padding: 5.3em;
    }

    .display-flex {
        display: flex;
        justify-content: center;
    }

    .code-text {
        margin-top: 2em;
    }

    .next, .btn-reg {
        margin-top: 1em;
    }
}