<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/verify.css">
  <title>Verify number</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 visible-md	visible-lg">
        <div class="form-header"> 
          <h1>Verificación de tu número</h1>
          <h3>Únete ahora y obtén crédito gratis</h3>
        </div>
      </div>  
      <div class="col-xs-12 col-lg-6">
        <div class="form-header col-xs-12 hidden-md hidden-lg"> 
          <h2>Verificación de tu número</h2>
          <h4>Únete ahora y obtén crédito gratis</h4>
        </div>
        <hr>
        <form class="form" id="form">          
          <div class="form-group col-xs-6 col-xs-offset-3">               
            <label class="sr-only" for="exampleInputAmount"></label>
            <div class="input-group">
              <div class="input-group-addon btn-style">LAB-</div>
              <input type="number" class="form-control input-code" id="exampleInputAmount" placeholder= "código">            
            </div>                      
          </div>    
          <div class="form-group form-btn">
            <div class="col-xs-6 col-xs-offset-3 display-flex">
              <button type="button" class="btn btn-default re-send btn-style col-xs-12 col-lg-8 next-disabled"  data-toggle="modal" data-target="#Modal2">Reenviar código</button> 
            </div>
          </div>
          <div class="form-group col-xs-10 col-xs-offset-2 col-lg-8 display-flex"> 
            <h5 class="code-text"> Escribe el código que se envió a tu celular</h5>
          </div>  
          <div class="form-group col-lg-6">
            <div class="col-xs-6 col-xs-offset-3 col-lg-8">
              <button type="button" class="btn btn-default next col-xs-12 btn-style" disabled="disabled" data-toggle="modal" data-target="#myModal">NEXT</button> 
            </div>   
          </div>
          <!--Botón para volver a register -->  
          <div class="form-group col-lg-6">
            <div class="col-xs-6 col-xs-offset-3 col-lg-8">
              <button type="button" class="btn btn-default btn-reg col-xs-12"> Volver </button>
            </div>   
          </div>    
        </form>    
      </div>    
    </div>
  </div>

  <!--Modal que de reenvío del código -->
  <div class="modal fade" tabindex="-1" role="dialog" id="Modal2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Tu nuevo código es:</h4>
        </div>
        <div class="modal-body">
          <p class="re-code"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-send" data-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-primary">Cancelar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script src="../vendors/js/jquery-3.2.1.min.js"></script>               
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/verify.js"></script>         
</body>
</html>