<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/verify.css">
  <title>Verify number</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-header col-xs-offset-2"> 
          <h2 class="col-xs-12">Verificación del número</h2>
          <h4 class="col-xs-10">Join now for free ride credit</h4>
        </div>
        <hr>
        <form class="form" id="form">          
          <div class="form-group col-xs-5 col-xs-offset-3">               
            <label class="sr-only" for="exampleInputAmount"></label>
            <div class="input-group">
              <div class="input-group-addon btn-style">LAB-</div>
              <input type="number" class="form-control" id="exampleInputAmount" placeholder= "código">            
            </div>                      
          </div>    
          <div class="form-group form-btn">
            <div class="col-xs-5 col-xs-offset-3">
              <button type="button" class="btn btn-default re-send btn-style col-xs-12 next-disabled"  data-toggle="modal" data-target="#myModal">Reenviar código</button> 
            </div>
          </div>
          <div class="form-group col-xs-10 col-xs-offset-2"> 
            <h5 class="code-text"> Escribe el código que se envió a tu celular</h5>
          </div>  
          <div class="form-group">
            <div class="col-xs-12">
              <button type="button" class="btn btn-default next col-xs-12 btn-style" disabled="disabled" data-toggle="modal" data-target="#myModal">NEXT</button>  
          </div>  
        </form>    
      </div>    
    </div>
  </div>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>               
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/verify.js"></script>         
</body>
</html>